.header {
    background-color:  #29335C;
    min-height: 10vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
}

.instructions {
    font-size: 20px;
    background-color: white;
    padding-left: 200px;
    padding-right: 200px;
}